body {
    background-color: #111111;
}

.big-text {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    font-family: 'Source Code Pro', monospace;
}

.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 20px;
}

.username {
    position: relative;
    top: -5px;
}

.description {
    font-weight: bold;
    color: whitesmoke;
    display:block;
    font-family: 'Source Code Pro', monospace;
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 40px;
}

.objects {
    position: relative;
    top: 80px;
}